ansi2html==1.1.1
argh==0.26.2
colorama==0.3.7
Cython==0.25.2
defusedxml==0.4.1
Django==1.10.3
django-appconf==1.0.2
django-compressor==2.1
django-mptt==0.8.7
django-pagedown==0.1.1
django-registration-redux==1.4
django-reversion==2.0.8
-e git://github.com/DMOJ/django-select2.git@a98a30a2bc39ce7776f139c61f78c96fc9b3cc39#egg=Django_Select2
django-social-share==1.0.0
django-sortedm2m==1.3.2
django-statici18n==1.2.1
-e git://github.com/DMOJ/dmoj-wpadmin.git@fc61882c15234507bbc12352fc89ab17fd0b8972#egg=django_wpadmin
djangorestframework==3.5.3
future==0.16.0
lxml==3.7.1
markdown2==2.3.1
numpy==1.11.3
oauthlib==2.0.1
pathtools==0.1.2
pika==0.10.0
protobuf==3.1.0
pycryptodomex==3.4.3
Pygments==2.1.3
-e git://github.com/DMOJ/pyjade.git@1d5058587f64a703b4c94c4d4b0ffef9bf9faa56#egg=pyjade
pyjwkest==1.3.2
PyJWT==1.4.2
python-social-auth==0.3.1
python3-openid==3.0.10
pytz==2016.10
PyYAML==3.12
rcssmin==1.0.6
requests==2.12.4
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
social-auth-core==0.1.0
tensorflow-gpu==0.12.0
termcolor==1.1.0
ua-parser==0.7.2
ujson==1.35
ujson-drf==0.2
virtualenv==15.1.0
watchdog==0.8.3
wcwidth==0.1.7
widgetsnbextension==1.2.6
